<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat&family=Raleway&display=swap"
    rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
    }

    body {
      background-image: url("/images/blob.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    form {
      margin-bottom: 20px;
    }

    label {
      margin-right: 10px;
    }

    select,
    button {
      padding: 5px 10px;
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    button {
      background-color: rgb(51, 200, 148);
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: rgb(51, 200, 148);
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    thead {
      background-color: cornflowerblue;
      color: white;
    }

    .scrollable-container {
      width: 100%;
      max-width: 100vw;
      max-height: 75vh;
      overflow-x: auto;
      overflow-y: auto;
      white-space: nowrap;
      /* border: 1px solid black; */
    }

    .scrollable-table {
      width: 100%;
      border: 1px solid black;
      display: inline-block;
    }

    .scrollable-table tr:last-child td {
      border-bottom: 1px solid black;
    }

    .scrollable-table th {
      border-top: 1px solid black;
    }

    .scrollable-table td:first-child,
    .scrollable-table th:first-child {
      border-left: 1px solid black;
    }

    .scrollable-table td:last-child,
    .scrollable-table th:last-child {
      border-right: 1px solid black;
    }

    .scrollable-table tbody tr:nth-child(even) {
      background-color: white;
    }

    .scrollable-table tbody tr:nth-child(odd) {
      background-color: lightgray;
    }

    .scrollbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow-x: auto;
      background-color: #f1f1f1;
      /* You can set a background color for the scrollbar area if needed */
      padding: 10px;
      /* Adjust padding as needed */
    }
  </style>
</head>

<body>
  <div class="homeicon"><a href="/"><img src="../images/home.svg" alt="Home" height="40px"></a></div>

  <h1>Filter by Anonymous ID</h1>

  <form action="/report" method="get">
    <label for="dropdown">Select an option:</label>
    <select id="dropdown" name="dropdown">
      <option value="All Users" selected>All Users</option>
      <% drop_db.forEach(item=> { %>
        <option value="<%= item.anonymousID %>">
          <%= item.anonymousID %>
        </option>
        <% }); %>
    </select>
    <button type="submit">Filter</button>
  </form>
  <!-- <button onclick="sortTable()">Sort by Anonymous ID</button> -->


  <br><br><br><br>


  <div class="scrollable-container">
    <table class="scrollable-table">
      <thead style="background-color: #ace4c9; color: lightslategray;">
        <tr>
          <th style="text-align: left;">Anonymous ID</th>
          <th style="text-align: left;">Timestamp</th>
          <th style="text-align: left;">Age</th>
          <th style="text-align: left;">Gender</th>
          <th style="text-align: left;">Relationship Status</th>
          <th style="text-align: left;">Occupation Status</th>
          <th style="text-align: left;">Media Use</th>
          <th style="text-align: left;">Media Daily Avg</th>
          <th style="text-align: left;">Media WO Purpose</th>
          <th style="text-align: left;">Distracted Busy</th>
          <th style="text-align: left;">Restlessness</th>
          <th style="text-align: left;">Distracted General</th>
          <th style="text-align: left;">Bothered Worry</th>
          <th style="text-align: left;">Concentration</th>
          <th style="text-align: left;">Comparison</th>
          <th style="text-align: left;">Comparison Feelings</th>
          <th style="text-align: left;">Validation</th>
          <th style="text-align: left;">Depressed</th>
          <th style="text-align: left;">Daily Interest Fluctuation</th>
          <th style="text-align: left;">Sleep Issues</th>
          <th style="text-align: left;">Location</th>
        </tr>
      </thead>
      <tbody style="font-family: Arial; font-size: 9pt;" id="tableBody" name="tableBody">
        <% for (let iCount=0; iCount < intex_db.length; iCount++) { %>
          <tr>
            <td>
              <%= intex_db[iCount].anonymousID %>
            </td>
            <td>
              <%= intex_db[iCount].timestamp %>
            </td>
            <td>
              <%= intex_db[iCount].age %>
            </td>
            <td>
              <%= intex_db[iCount].gender %>
            </td>
            <td>
              <%= intex_db[iCount].relationshipStatus %>
            </td>
            <td>
              <%= intex_db[iCount].occupationStatus %>
            </td>
            <td>
              <%= intex_db[iCount].mediaUse %>
            </td>
            <td>
              <%= intex_db[iCount].mediaDailyAvg %>
            </td>
            <td>
              <%= intex_db[iCount].mediaWOPurpose %>
            </td>
            <td>
              <%= intex_db[iCount].distractedBusy %>
            </td>
            <td>
              <%= intex_db[iCount].restlessness %>
            </td>
            <td>
              <%= intex_db[iCount].distractedGeneral %>
            </td>
            <td>
              <%= intex_db[iCount].botheredWorry %>
            </td>
            <td>
              <%= intex_db[iCount].concentration %>
            </td>
            <td>
              <%= intex_db[iCount].comparison %>
            </td>
            <td>
              <%= intex_db[iCount].compFeelings %>
            </td>
            <td>
              <%= intex_db[iCount].validation %>
            </td>
            <td>
              <%= intex_db[iCount].depressed %>
            </td>
            <td>
              <%= intex_db[iCount].dailyInterestFluctuations %>
            </td>
            <td>
              <%= intex_db[iCount].sleepIssues %>
            </td>
            <td>
              <%= intex_db[iCount].Location %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>




</body>

<script>
  function sortTable() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("tableBody");
    switching = true;
    // Make a loop that will continue until no switching has been done
    while (switching) {
      // Start by saying: no switching is done
      switching = false;
      rows = table.rows;
      // Loop through all table rows (except the first, which contains table headers)
      for (i = 0; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching
        shouldSwitch = false;
        // Get the two elements you want to compare, one from current row and one from the next
        x = rows[i].getElementsByTagName("TD")[0];
        y = rows[i + 1].getElementsByTagName("TD")[0];
        // Check if the two rows should switch place
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
          // If so, mark as a switch and break the loop
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        // If a switch has been marked, make the switch and mark that a switch has been done
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
</script>

</html>